* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Kaushan Script', cursive;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
}

nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #555;
}
p {
    color: #555;
    font-size: 120%;
    font-family: "Kaushan Script" 
}
.container{
    max-width: 1400px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}
.row {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2 {
    flex-basis: 50%;
    min-width: 300px;
    padding-top: 50px;
}
.col-2 img {
    max-width: 100%;
    padding:50px 0;
}
.col-2 h1 {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 15px;
}
.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding:8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
.btn:hover {
        background: #563434;
    }
.header {
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row {
margin-top: 40px;
}
.categories{
    margin: 70px 0;
}
.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom:30px ;
}
.col-3 img {
    width:100%;
   
}
.container2 {
    max-width: 1080px;
    margin:auto;
}
.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img {
    width: 100%;
    align-items: center;

}
.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after {
    content:"";
    background: #ffd6d6;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


h4{
    color: #555;
    font-weight: normal;
}
.col-4 p {
    font-size: 15px;
}
.col-4:hover {
    transform:translateY(-5px);
}
/* ----------offer------------ */
.offer {
    background:radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img {
    padding: 50px;
    align-items: center;
}
.small {
    color: #555;
}
.testimonio {
    padding-top:50px;
}
.testimonio .col-3 {
    text-align: center;
    padding: 40px 20px;
    cursor: pointer;
    transition: transform 0.5s;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}
.testimonio .col-3 img{
    width: 150px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonio .col-3:hover {
    transform: translateY(-10px);
    transition: transform 0.5s;
}
.col-3 p{
    font-size: 16px;
    margin: 12px 0;
    color: #777;
}
.testimonio .col-3 h3 {
    font-weight: 600;
    color: rgb(#777);
    font-size: 20px;
}
.mejores {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
    font-size: 55px;
}
.mejores::after {
    content:"";
    background: rgb(250, 195, 250);
    width: 250px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}
/* BRANDS */

.brands {
    margin: 100px 0 100px 0;   
}
.col-5 {
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
}
.footer {
padding:60px 0 20px;
background: #ffd6d6;
color: #000;
font-size: 20px;
text-align: center;
}
.footer p{
    color:#000;
    font-size: 18px;
}
.footer h3 {
    color: #000;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: flex-start;
}
.footer-col-1 {
    flex-basis: 30%;
}
.footer-col-2 {
    flex:1;
    text-align: center;
}
.footer-col-2 img {
    width: 150px;
}
.footer-col-3, .footer-col-4 {
flex-basis: 20%;
text-align: center;
}
ul {
    list-style-type:none ;
}
.redes-logo {
    margin-top: 20px;
}
.Copyright {
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer hr {
    border:none;
    background: #b5b5b5;
    height:1px;
    margin: 20px 0;
}
.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
 }
/*---------------------------------------------------------------TODOS LOS PRODUCTOS----------------------------------------------------------------------------------------------*/
.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}
select {
    border: 1px solid #333;
    padding: 5px;
}
select:focus {
    outline: none;
}
.page-btn {
    margin: 0 auto 80px;
}
.page-btn span {
    display: inline-block;
    border: 1px solid #333;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover {
    background:rgb(250, 195, 250);
    color:#333;
}
/*---------------------------------------------------------------PRODUCTOS INIDUALES----------------------------------------------------------------------------------------------*/
.productos-inidualmente{
    margin-top:20px;
}
#perfumekenzo{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}
.productos-inidualmente col-2 img {
    padding: 0;
}
.productos-inidualmente col-2 {
    padding: 0px;
}
.productos-inidualmente p {
    margin: 0 25px;
}
.productos-inidualmente h1{
    margin: 0px 20px;
}
.productos-inidualmente h2 {
    margin: 0px 20px;
}
.productos-inidualmente h4{
    margin: 20px 20px;
    font-size: 22px;
    font-weight: bold;
}
.productos-inidualmente select {
    display: block;
    padding: 10px;
    margin: 20px 20px;
}
.productos-inidualmente input {
    width: 50px;
    height: 30px;
    padding-left: 10px;
    font-size: 15px;
    margin: 20px 20px;
    border: 1px solid #333;
}
input:focus {
    outline: none;
}
.small-img-row {
    display: flex;
    justify-content: space-between;
    
    
}
.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);

}
/*-----------------------------------------------------------------ITEMS DE CARRITO---------------------------------------------------------------------------------------------*/
.carrito-page {
    margin: 80px auto;
}
.nombreyprecio {
    margin:7px 0 0 4px;
}
.carrito-page small {
    font-size: 17px;
}
.carrito-page img {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    width:25%;
}
.carrito-page p {
    font-size: 22px;
    text-align: right;
}
table {
    width: 100%;
    border-collapse:collapse;
}
.carrito-info {
    display:flex;
    flex-wrap: wrap;
}
th {
    text-align: left;
    padding: 10px 5px;
    color: #000;
    background:#ffd6d6;
    font-weight: normal;
}
td {
    padding: 10px 5px;
}
td input {
    width: 40px;
    height: 30px;
    padding: 10px 5px;
}
td a {
    color: #000;
    font-size: 13px;
    text-decoration: underline;
}
.carrito-page a {
    font-size: 15px;
    padding: 10px 5px;
}
.total-price {
    display: flex;
    justify-content:flex-end;
}
.total-price table {
    border-top: 3px solid #ffd6d6;
    width: 100%;
    max-width: 400px;
}
td:last-child {
    text-align: right;
}
th:last-child {
    text-align: right;
}
.total-price td {
    text-align: right;
}
  /*---------------------------------------------------------------RESPONSIVE--------------------------------------------------------------------------------------------------*/
@media (max-width: 600px) {
.carrito-info p{
    display: none;
}
.carrito-info img {
    width: 43%;
}

 .row {
     text-align: center;
 }
 .col-2 .col-3 .col-4 {
     flex-basis: 100%;
 }
 .productos-inidualmente .row {
    text-align: left;
}
    .productos-inidualmente .col-2 {
    padding: 20px 0;
}
.productos-inidualmente h1 {
    font-size:28px;
    line-height: 26px;
}
 nav ul {
 position: absolute;
 top: 70px;
 left: 0;
 background: #333;
 width: 100%;
 overflow: hidden;
 transition: max-height 0.5s;
 }
 nav ul li {
     display: block;
     margin-right: 50px;
     margin-left: 10px;
     margin-bottom: 10px;
 }
 nav ul li a {
     color:#fff;
 }
 .menu-icon {
     display:block;
     cursor: pointer;
 }
td:last-child {
    text-align: left;
} 
 
}